
<div class="card-body">
    <div style="height:150px" class="m-auto">
        <div class="description-block">
            <span class="description-text"><b>ID #: </b><a id="idnumber">7777</a></span>
            <h1 id="indicator">PASSED!</h1>
            <span id="indicatorpercent" class="percentDesc">0%</span>
        </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
        <div class="col-sm-6">
            <div class="description-block border-right">
            <span id="mockpercent" class="percentDesc">0%</span>
            <h3 id="mock"></h3>
            <span class="description-text">MOCK BOARD EXAM GRADE</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="description-block">
            <span id="gwapercent" class="percentDesc">0%</span>
            <h3 id="gwa"></h3>
            <span class="description-text">GWA</span>
            </div>
            <!-- /.description-block -->
        </div>
    </div>
    <!-- /.row -->
</div>

    <script>
        $(function(){
            var data = htall.getData({
                url:'route/getGrades',
                type:'POST',
                data: {id: id}
            }),
            gwa = parseFloat(data.gwa),
            gwapercent = (1/gwa)*100,
            mock = (data.mock_exam/100)*100,
            avg = ((gwapercent+mock)/200)*100
            $("#indicator").text(avg > 70 ? "PASSED!":"FAILED!")
            var percentage=(data,above,below)=>{
                if(data > above) return "text-success"
                else if(data > below) return "text-warning"
                else return "text-danger"
            }
            console.log(data)
            $("#idnumber").text(data.examinee_id)
            $("#indicatorpercent").addClass(percentage(avg,70, 30)).text(avg.toFixed(2)+"%")
            $("#gwapercent").addClass(percentage(gwapercent,50, 30)).text(gwapercent.toFixed(2)+"%")
            $("#mockpercent").addClass(percentage(mock,75,70)).text(mock.toFixed(2)+"%")
            $("#mock").text(data.mock_exam == "" ? "NONE":data.mock_exam)
            $("#gwa").text(gwa.toFixed(2))
        })
    </script>