
<div class="col-md-12" style="display: flex; align-items: center;">
    <div class="col-12">
        <div class="progress-group">
            Passed
            <span id="mocklabel" class="float-right"><b></b></span>
            <div class="progress progress-sm">
                <div id="passed" class="progress-bar bg-primary" style="width: 80%"></div>
            </div>
        </div>

        <div class="progress-group">
            Failed
            <span id="suastlabel" class="float-right"><b></b></span>
            <div class="progress progress-sm">
                <div id="failed" class="progress-bar bg-danger" style="width: 75%"></div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <div class="row">
        <div class="col-sm-6">
            <div class="description-block border-right">
                <span class="description-percentage text-success">0%</span>
                <h5 class="description-header"></h5>
                <span class="description-text">PASSED</span>
            </div>
            <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
            <div class="description-block">
                <span class="description-percentage text-warning">0%</span>
                <h5 class="description-header"></h5>
                <span class="description-text">Failed</span>
            </div>
            <!-- /.description-block -->
        </div>
    </div>
    <!-- /.row -->
</div>

<script>
    $(function(){
        total = 0
        pass = 0
        fail = 0
        objects.each(function(){
            total++
            da = $(this).children().eq(3).text(),
            gwa = parseFloat(da)
            gwapercent = (1/gwa)*100,
            mock = ($(this).children().eq(2).text()/100)*100,
            avg = ((gwapercent+mock)/200)*100
            avg > 44.87 ? pass++:fail++
        })
        perpass = (pass/total)*100
        perfail = (fail/total)*100
        $("#mocklabel").html("<b>"+pass+"/</b>"+total)
        $("#suastlabel").html("<b>"+fail+"/</b>"+total)
        $("#passed").css('width',perpass+"%")
        $("#failed").css('width',perfail+"%")
        $(".text-success").html(perpass.toFixed(2)+"%")
        $(".text-warning").html(perfail.toFixed(2)+"%")

    })
</script>