<li class="nav-item">
    <a href="adminhome" id="adminhome" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="adminsubject" id="adminsubject" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>Subject list</p>
    </a>
</li>
<li class="nav-item">
    <a href="adminperformance" id="adminperformance" class="nav-link">
        <i class="nav-icon fas fa-chart-line"></i>
        <p>Performance</p>
    </a>
</li>
<li class="nav-item">
    <a href="adminusers" id="adminusers" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Users</p>
    </a>
</li>
<li class="nav-item">
    <a href="importgrade" id="importgrade" class="nav-link">
        <i class="nav-icon fas fa-calendar-alt"></i>
        <p>Import grades</p>
    </a>
</li>
