<script>
    htall.include('layout/layout.html')
</script>
<div id="extend">
    <div class="container-fluid">
        <div class="col-12 card">
            <div class="card-header text-center">
                <h4 class="card-title">Import grade</h4>
            </div>
            <div class="card-body">
                <form id="csv" class="mb-3 col-8 m-auto">
                    <label for="formFile" class="form-label">Input CSV file :</label>
                    <div class="row">
                        <div class="col-9">
                            <input class="form-control" name="file" type="file" id="formFile">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary col-12">Upload</button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <h1>You must follow the file format</h1>
                        <h3>ID #, Name, Mock grades, GWA</h3>
                    </div>
                </form>
                <!-- <form id="manual" class="mt-5">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <label>ID #</label>
                            <input type="text" name="id" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4 col-12">
                            <label>Mock grade</label>
                            <input type="number" name="mock" step="0.000001" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4 col-12">
                            <label>GWA</label>
                            <input type="number" name="gwa" step="0.000001" class="form-control form-control-sm">
                        </div>
                    </div>

                    <button class="btn btn-primary mt-3 float-right">Submit</button>
                </form> -->
                <div class="form-body">
                    <button class="btn btn-warning hdn float-right mb-3 text-light">Predict</button>
                    <button class="btn btn-info hdn mb-3"><i class="fas fa-chart-line mr-2"></i> Summary</button>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID #</th>
                                <th>Name</th>
                                <th>Mock grades</th>
                                <th>GWA</th>
                                <th hidden class="hidden">Status</th>
                                <th hidden class="hidden" style="width: 30px">View</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#csv").submit(function(e){
                e.preventDefault()
                var data = htall.crud({
                    url: 'route/importFile',
                    type: 'post',
                    data: new FormData(this)
                })

                data.format ? success(data):
                Swal.fire({
                    title: 'Error!',
                    text: data.toast.title,
                    imageUrl: './assets/img/instruction.png',
                    imageWidth: 400,
                    imageHeight: 180,
                    imageAlt: 'Custom image',
                })
            })
            if(htall.importGrade({store:false})){
                $(".form-body").html(htall.importGrade({store:false}))
                viewing()
            }
            // sessionStorage.setItem("importgrade","")
            function success(data){
                console.log("success")
                htall.toast().fire(data.toast)
                $("tbody").html(data.tbody)
                $(".btn-warning").css('display','block')
                $(".hidden").each(function(){
                    console.log($(this).text())
                    $(this).attr('hidden',true)
                })
                htall.importGrade({store:true,data:$(".form-body").html()})
            }
            $(".btn-warning").click(function(){
                $(".btn-info").css('display','block')
                $(".hidden").each(function(){
                    $(this).attr('hidden',false)
                })
                $("tbody>tr").each(function(){
                    var da = $(this).children().eq(3).text(),
                    gwa = parseFloat(da)
                    gwapercent = (1/gwa)*100,
                    mock = ($(this).children().eq(2).text()/100)*100,
                    avg = ((gwapercent+mock)/200)*100
                    $(this).children().eq(4).text(avg > 44.87 ? "Passed":"Failed")
                })
                viewing()
                htall.importGrade({store:true,data:$(".form-body").html()})
            })

            $(".btn-info").click(function(){
                $(".modal-form").css({'width':'30%','min-width':'170px'})
                $(".modal-head").children('h4').text("Summary")
                var object = $("tbody>tr")
                $.get("templates/modal/summary.html",function(e){
                    objects = object
                    $(".modal-body").html(e)
                })
                $(".modal").show()
            })

            function viewing(){
                $(".fa-eye").click(function(){
                    $(".modal-form").css({'width':'50%','min-width':'170px'})
                    $(".modal-head").children('h4').text("Prediction")
                    var sid = $(this).parent().siblings().eq(0).text()
                    $.get("templates/modal/Predict.html",function(e){
                        id = sid
                        $(".modal-body").html(e)
                    })
                    $(".modal").show()
                })
            }
            // Swal.fire({title:"Please import a file that should be used in prediction"})
            // $("#manual").submit(function(e){
            //     e.preventDefault()
            //     var data = htall.crud({
            //         url: 'route/importGrade',
            //         type: 'post',
            //         data: new FormData(this)
            //     })
            //     htall.toast().fire(data)
            // })
        })
    </script>
</div>