<script>
    htall.include('layout/layout.html')
</script>
<div id="extend">
    <div class="container-fluid">
        <div class="col-12 card">
            <div class="card-header text-center">
                <h4 class="card-title">Import grade</h4>
                <div class="card-tools">
                    <button class="btn btn-success">List of File</button>
                </div>
            </div>
            <div class="card-body">
                <form id="csv" class="mb-3 col-8 m-auto">
                    <label for="formFile" class="form-label">Input CSV file :</label>
                    <div class="row">
                        <div class="col-9">
                            <input class="form-control" name="file" type="file" id="formFile">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary col-12">Upload</button>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <h1>You must follow the file format</h1>
                        <h3>ID #, Name, Mock grades, GWA, Ay, Course</h3>
                    </div>
                </form>
                <!-- <form id="manual" class="mt-5">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <label>ID #</label>
                            <input type="text" name="id" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4 col-12">
                            <label>Mock grade</label>
                            <input type="number" name="mock" step="0.000001" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4 col-12">
                            <label>GWA</label>
                            <input type="number" name="gwa" step="0.000001" class="form-control form-control-sm">
                        </div>
                    </div>

                    <button class="btn btn-primary mt-3 float-right">Submit</button>
                </form> -->
                <div class="form-body">
                    <div id="btn-cont" style="display: flex; justify-content: right;margin: 19px 0 10px 0">
                        <button class="btn hdn btn-info"><i class="fas fa-chart-line mr-2"></i> Summary</button>
                        <div class="radios hdn">
                            <label class="m-0"><input type="radio" name="filter" class="mr-1 ml-3" checked value="Passed"> Passed</label>
                            <label class="m-0"><input type="radio" name="filter" class="mr-1 ml-3" value="Failed"> Failed</label>
                        </div>
                        <button class="btn btn-warning hdn text-light">Predict</button>
                    </div>
                    <table id="mytable" class="table table-bordered table-hover sortable">
                        <thead>
                            <tr>
                                <th>ID #</th>
                                <th>Name</th>
                                <th class="sorting">Mock grades</th>
                                <th class="sorting">GWA</th>
                                <th>Course</th>
                                <th hidden class="hidden">Prediction</th>
                                <th hidden class="hidden" style="width: 30px">View</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#csv").submit(function(e){
                e.preventDefault()
                var data = htall.crud({
                    url: 'route/importFile',
                    type: 'post',
                    data: new FormData(this)
                })
                console.log(data)
                data.format ? success(data):
                Swal.fire({
                    title: 'Error!',
                    text: data.toast.title,
                    imageUrl: './assets/img/instruction1.png',
                    imageWidth: 400,
                    imageHeight: 150,
                    imageAlt: 'Custom image',
                })
            })

            if(htall.importGrade({store:false})){
                $(".form-body").html(htall.importGrade({store:false}))
                viewing()
                sorting()
            }else
                sorting()
            // sessionStorage.setItem("importgrade","")
            function success(data){
                htall.toast().fire(data.toast)
                $("#mytable>tbody").html(data.tbody)
                $(".btn-warning").css('display','block')
                $(".hidden").each(function(){
                    $(this).attr('hidden',true)
                })
                htall.importGrade({store:true,data:$(".form-body").html()})
            }
            $(".btn-warning").click(function(){
                $(".btn-info").css('display','block')
                $(".radios").css('display','block')
                $("#btn-cont").css('justify-content','space-between')
                $(".hidden").each(function(){
                    $(this).attr('hidden',false)
                })
                $("#mytable>tbody>tr").each(function(){
                    var da = $(this).children().eq(3).text(),
                    gwa = parseFloat(da),
                    gwapercent = (1/gwa)*100,
                    mock = ($(this).children().eq(2).text()/100)*100,
                    avg = ((gwapercent+mock)/200)*100,
                    bo = avg > 44.87
                    $(this).children().eq(5).text(bo ? "Passed":"Failed")
                    if(!bo) $(this).hide()
                })
                viewing()
                htall.importGrade({store:true,data:$(".form-body").html()})
            })

            $(".btn-info").click(function(){
                $(".modal-form").css({'width':'80%','min-width':'170px'})
                $(".modal-head").children('h4').text("Summary")
                var object = $("#mytable>tbody>tr")
                $.get("templates/modal/summary.html",function(e){
                    obj = object
                    $(".modal-body").html(e)
                })
                $(".modal").show()
            })
            $(".btn-success").click(function(){
                $(".modal-form").css({'width':'30%','min-width':'170px'})
                $(".modal-head").children('h4').text("List of files")
                $.get("templates/modal/filelist.html",function(e){
                    $(".modal-body").html(e)
                })
                $(".modal").show()
            })
            function viewing(){
                $(".fa-eye").click(function(){
                    $(".modal-form").css({'width':'50%','min-width':'170px'})
                    $(".modal-head").children('h4').text("Prediction")
                    var sid = $(this).parent().siblings().eq(0).text()
                    $.get("templates/modal/Predict.html",function(e){
                        id = sid
                        $(".modal-body").html(e)
                    })
                    $(".modal").show()
                })
            }
            function sorting(){
                $(".sorting").each(function(i){
                    $(this).click(function(){
                        var ind = $(this).index(),
                        tr = [],
                        bo = $(this).attr("class") == 'sorting after'
                        $("#mytable>tbody>tr").each(function(){
                            tr.push($(this))
                        })
                        $.each(tr,function(i,val){
                            for(var j = 0; j < tr.length-1 ;j++){
                                var a = parseFloat(tr[j].children().eq(ind).text()),
                                b = parseFloat(tr[j+1].children().eq(ind).text())
                                if(bo ? a > b:a < b){
                                    var temp = tr[j]
                                    tr[j] = tr[j+1]
                                    tr[j+1] = temp
                                }
                            }
                        })
                        $("#mytable>tbody").html(tr)
                        $(this).attr("class",bo ? 'sorting before':'sorting after')
                    })
                })
                $("input[name='filter']").click(function(){
                    var text = $(this).val()
                    $("#mytable>tbody>tr").each(function(){
                        if($(this).children().eq(5).text() == text){
                            $(this).show()
                        }else{
                            $(this).hide()
                        }
                    })
                })
            }


            // Swal.fire({title:"Please import a file that should be used in prediction"})
            // $("#manual").submit(function(e){
            //     e.preventDefault()
            //     var data = htall.crud({
            //         url: 'route/importGrade',
            //         type: 'post',
            //         data: new FormData(this)
            //     })
            //     htall.toast().fire(data)
            // })
            
        })
    </script>
</div>