<script>htall.include('layout/layout.html')</script>
<div id="extend">
    <div class="container-fluid">
        
    <div class="row">
        <div class="col-md-12">
          <div class="card" style="height: 100%!important">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Examiners</strong>
                  </p>
  
                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" height="370"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                
                <div class="col-md-4" style="display: flex; align-items: center;">
                  <div class="col-12">
                    <div class="progress-group">
                      Passed
                      <span id="mocklabel" class="float-right"><b></b></span>
                      <div class="progress progress-sm">
                        <div id="passed" class="progress-bar bg-primary" style="width: 80%"></div>
                      </div>
                    </div>
  
                    <div class="progress-group">
                      Failed
                      <span id="suastlabel" class="float-right"><b></b></span>
                      <div class="progress progress-sm">
                        <div id="failed" class="progress-bar bg-danger" style="width: 75%"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./card-body -->
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-success">0%</span>
                    <h5 class="description-header"></h5>
                    <span class="description-text">PASSED</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <div class="description-block">
                    <span class="description-percentage text-warning">0%</span>
                    <h5 class="description-header"></h5>
                    <span class="description-text">Failed</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    </div>
</div>


<script src="bootstrap/chart.js/chart.min.js"></script>
<script>
    $(function () {
      'use strict'
      var dashboard = htall.getData({url: 'route/getperformance'}),
      mock = 0,
      label = [],
      data = [],
      datafail = [],
      passed = 0,
      failed = 0,
      totalcount = 0,
      gwa = parseFloat(dashboard.gwa),
      gwapercent = (1/gwa)*100,
      mock = (dashboard.mock_exam/100)*100,
      avg = ((gwapercent+mock)/200)*100,
      count = 0

      for(var i = 0; i < Object.keys(dashboard).length ;i++){
        var year = dashboard[i].ay,
        gwa = parseFloat(dashboard[i].gwa),
        gwapercent = (1/gwa)*100,
        mock = (dashboard[i].mock_exam/100)*100,
        avg = ((gwapercent+mock)/200)*100
        count++
        if(gwapercent < 42.8577){
          failed++
        }else{
          avg > 44.87 ? passed++ : failed++
        }
        // console.log(dashboard[i])
        if(label.length == 0){
          label.push(year)
          if(gwapercent < 42.8577){
            data.push(0)
            datafail.push(1)
            console.log("percentage : "+gwapercent)
          }else{
            console.log(avg)
            avg > 44.87 ? data.push(1) : datafail.push(1)
          }
        }else
          for(var j = 0; j < label.length ;j++){
            if(label[j] == year){
              if(gwapercent < 42.8577){
                datafail[j]++
              }else{
                avg > 44.87 ? data[j]++ : datafail[j]++
                console.log(avg+" > "+datafail[j])
              }
            }else{
              if(j+1 == label.length){
                label.push(year)
                data.push(0)
                datafail.push(0)
              }
            }
          }
          totalcount++
      }

      var percentpass = (passed/totalcount)*100,
      percentfail = (failed/totalcount)*100
      console.log("dashboard : "+data)
      $("#mocklabel").html("<b>"+passed+"/</b>"+totalcount)
      $("#suastlabel").html("<b>"+failed+"/</b>"+totalcount)
      $("#passed").css('width',percentpass+"%")
      $("#failed").css('width',percentfail+"%")
      $(".text-success").html(percentpass.toFixed(2)+"%")
      $(".text-warning").html(percentfail.toFixed(2)+"%")

      
      var salesChartCanvas = $('#salesChart').get(0).getContext('2d')
        
      var salesChartData = {
        labels: label,
        datasets: [
          {
            label: 'Passers',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: data
          },
          {
            label: 'Failures',
            backgroundColor: 'rgba(245, 17, 21,0.9)',
            borderColor: 'rgba(245, 17, 21,0.8)',
            pointRadius: true,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: datafail
          }
        ]
      }

      var salesChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false
            }
          }],
          yAxes: [{
            gridLines: {
              display: false
            }
          }]
        }
      }

      var salesChart = new Chart(salesChartCanvas, {
        type: 'line',
        data: salesChartData,
        options: salesChartOptions
      })
    })

</script>