<script>htall.include('layout/layout.html')</script>
<div id="extend">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <input type="number" id="year" class="form-control" placeholder="YYYY" min="1999">
                </div>
                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input autocomplete="off" class="form-control" type="search" id="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search text-light"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>ID #</th>
                            <th>Name</th>
                            <th style="width: 50px">Age</th>
                            <th>Address</th>
                            <th style="width: 190px">Register</th>
                            <th>function</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            const d = new Date();
            let year = d.getFullYear();
            $("#year").val(year)
            function loadData(search,year){
                var data = htall.getData({
                    url: 'route/getUsers',
                    type:'post',
                    data:{type:'examinee',search:search,year:year}
                })
                console.log("Example")
                $("tbody").html(data.tbody)
                $(".fa-eye").each(function(e){
                    $(this).click(()=>{
                        $(".modal-form").css({'width':'50%','min-width':'300px'})
                        $(".modal-head").children('h4').text("Personal Information")
                        var sid = $(this).attr('id')
                        $.get("templates/modal/personalinfo.html",function(e){
                            id = sid
                            $(".modal-body").html(e)
                        })
                        $(".modal").show()
                    })
                })
                
                $(".fa-chart-line").click(function(){
                    $(".modal-form").css({'width':'40%','min-width':'170px'})
                    $(".modal-head").children('h4').text("Prediction")
                    var sid = $(this).attr('id')
                    console.log("userid = "+sid)
                    $.get("templates/modal/Predict.html", function(e){
                        id = sid
                        $(".modal-body").html(e)
                    })
                    $(".modal").show()
                })
        }
            loadData('',year)
            $("#year").change(function(){
                loadData($("#search").val(),$(this).val())
            })
            $(".fa-search").click(function(){
                $("#search").focus()
            })
            $("#search").keyup(function(){
                loadData($(this).val(),$("#year").val())
            })

        })
    </script>
</div>